<div id="signup">
  <h2>Signup</h2>
  <form action="/signup" method="POST">
    <label>
      Username
      <input type="text" name="username" placeholder="Your username" />
    </label>

    <label>
      City
      <input type="text" name="city" placeholder="Your city" />
    </label>
 
    <label>
      Email
      <input type="text" id="input-email" name="email" placeholder="Your email" />
    </label>
 
    <label>
      Password
      <input type="password" name="password" id="input-password" placeholder="********" />
    </label>
 
    <button>Create account</button>
 
    {{!-- error message will be added here --}}
    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>

<div>
  <a href="/login">Already have an account? Log in here !!!</a>
</div>