{{#if userInSession}}
   
    <h1>My dashboard </h2>

{{!-- TODO --}}
{{!-- proposition to check --}}
{{!-- proposition ongoing --}}

    <h2>My points </h2>
    <p>{{ userInSession.points}}</p>
    
    <h2>My requests</h2>

    {{!-- <ul>
    {{#each userInSession.offers}}
    <li>{{this.offers}}</li>
    {{/each}}
    </ul> --}}

    <h2>Propositions to check</h2>
<button>Accept</button>
<button>Decline</button>
<button>Make another offer</button>


    <button>
        <a href="/profile/myprofile">Go back to my profile</a>
    </button>

{{else}}
    <p>Still no logged in user, sorry!</p>
    <a href="/login">Please log in to see your profile</a>
{{/if}}