<div class ="myprofileedit">


{{#if userInSession}}

<h1>Edit my profile information </h1>

<form action="/profile/myprofile-edit" method="POST" enctype="multipart/form-data">
<p>
    MY PHOTO 
</p>
<div class="photoupload">
    <label for="file">
      <img src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601581026/project2-upload/photovide_utfkuw.png" alt ="nophoto">
      <span> Click here to update your profile photo</span>
      <input id="file" type="file" name="photo" value="{{userInSession.myphoto}}" onchange="javascript:updateList()">
    </label>
    <div id="fileList">
    <p>Selected file:</p>
  </div>
</div>
<p>
    <label>
      CITY <br>
      <input type="text" name="city" placeholder="Your city" value="{{userInSession.city}}" /> 
    </label>
</p>
<p>
    <label>
      DESCRIPTION <br>
      <textarea name="mydescription" placeholder="Your description">{{userInSession.mydescription}}</textarea>
    </label>
</p>
  <button>Update my profile</button>
</form>

{{else}}
    <p>Still no logged in user, sorry!</p>
    <a href="/login">Please log in to see your profile</a>
{{/if}}

</div>