<div class ="myprofileedit">


{{#if userInSession}}

<h1>Edit my profile information </h1>

<form action="/profile/myprofile-edit" method="POST" enctype="multipart/form-data">
<p>
    <label class="label-file">
      MY PHOTO <br>
      <input class="input-file" type="file" name="photo">
    </label>
</p>
<p>
    <label>
      CITY <br>
      <input type="text" name="city" placeholder="Your city" />
    </label>
</p>
<p>
    <label>
      DESCRIPTION <br>
      <textarea name="mydescription" placeholder="Your description"></textarea>
    </label>
</p>
  <button>Update my profile</button>
</form>

{{else}}
    <p>Still no logged in user, sorry!</p>
    <a href="/login">Please log in to see your profile</a>
{{/if}}

</div>