{{#if userInSession}}

<h2>Edit {{userInSession.username}} profile info </h2>

<form action="/profile/myprofile" method="POST">
<p>
    <label>
      My photo
      <input type="file" name="photo">
    </label>
</p>
<p>
    <label>
      City
      <input type="text" name="city" placeholder="Your city" />
    </label>
</p>
<p>
    <label>
      Description
      <textarea name="mydescription" placeholder="Your description"></textarea>
    </label>
</p>
  <button>Update my profile</button>
</form>

{{else}}
    <p>Still no logged in user, sorry!</p>
    <a href="/login">Please log in to see your profile</a>
{{/if}}