


<div id ="about">
  <h1>ABOUT US</h1>
  <div>
    <h2>Our Story</h2>
    <p>With the desire to contribute our part in protecting the Earth, we created this community to help people exchange goods with each other. Instead of throwing away the things you no longer need (but still good quality), give it a second life. This exchange helps you save more, while reducing waste into the environment. Please join us, protect our Earth</p>
  </div>

  <div>
    <h2>Team IronJS</h2>
    <section>
      <div>
        <img src="../images/sophie.png">
        <h3>Sophie</h3>
      </div>
      <div>
        <img src="../images/julie.jpg">
        <h3><a href="https://www.linkedin.com/in/trangnguyen307/">Julie (Thi Trang)</a></h3>
      </div>
    </section>

  </div>
</div>