<div id="help">
  <h1>CONTACT US</h1>
  <section>
    <h3>For any question, please contact us through:</h3>
    <p><span style="font-weight: bold;">Hotline: </span> 06 66 66 66 66</p>
    <p><span style="font-weight: bold;">Email:   </span> teamjs@hotmail.com</p>
  </section>  
</div>
