<div class="home">

  <div id="cover">
    <h1>Bring BackToLife</h1>

    <p class="textintro">If you appreciate  collaborative economy, <br>
    if you are eco-friendy, <br>
    this is the  place to be to help each other and the planet !
    </p>
  </div>


<section id="howcontainer">

<h2>How does it work?</h2>

<div class="keyboxescontainer">
  
  <article class="searchbox keybox">
    <img src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601751701/project2-upload/search_1_rlbcym.png" alt="searchicon">
    <p>Search for a good or service </p> 
    <p>Find anything that pleases you posted by the community.</p>
  </article>

  {{!-- <p>Or</p>   --}}

  <article class="postbox keybox">
    <img src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601751700/project2-upload/mailbox_a4uemh.png" alt="propositionsicon">
    <p>Post a good or service </p>
    <p> Feel free to propose any stuffs that you don't need anymore or any services.</p>
  </article>

  <article class="matchbox keybox">
    <img src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601751700/project2-upload/heart-health_kdspqp.png" alt="matchicon">
    <p>Propostions & Matching </p> 
    <p>Make a proposition for an exchange or accept an offer !</p>
  </article>

  <article class="dealbox keybox">
    <img src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601751700/project2-upload/helping-hand_ljmngo.png" alt="dealicon">
    <p>Deal! </p>
    <p> Bravo you are helping people and the planet ! </p>
  </article>
  
</div>

<div class="howtoflowerpoints">
  <img src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601751700/project2-upload/flower_km7avz.png" alt ="logo">
  <p>  
  Every exchange you make will bring you flowers points ! <br> Collecting flowers will allow you to exchange goods and services.
  </p>
  <img src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601751700/project2-upload/flower_km7avz.png" alt ="logo">
</div>

</section>

<section class="categoriesdisplay">

  <div class="categoriescontainer">

    <article class="catdressing categoriesboxes">
      <a href="/posts/categories"><img src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601744997/project2-upload/dressing_lbsxgt.jpg" alt="dressingpic"></a>
      <p>DRESSING</p>
    </article>
    <article class="catservices categoriesboxes">
      <a href="/posts/categories"><img src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601744998/project2-upload/services_yypxvr.jpg" alt="servicepic"></a>
      <p>SERVICES</p>
    </article>
    <article class="catbooks categoriesboxes">
      <a href="/posts/categories"><img src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601744997/project2-upload/book_drm0ph.jpg" alt="bookspic"></a>
      <p>BOOKS</p>
    </article>
    <article class="catbeauty categoriesboxes">
      <a href="/posts/categories"><img src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601744997/project2-upload/beauty_istlqk.jpg" alt="beautypic"></a>
      <p>BEAUTY</p>
    </article>
    <article class="catit categoriesboxes">
      <a href="/posts/categories"><img src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601744997/project2-upload/it_u8k2d4.jpg" alt="itpic"></a>
      <p>IT</p>
    </article>

  </div>

<h3><a id="view" href="/posts/categories">VIEW ALL</a></h3>

</section>

</div>


