<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta property='og:image' content='/images/thumbnail.png'/>
  <title>Back to life</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  
</head>

<body>
  
  <header>

      <nav class="navbar navbar-expand-lg navbar-light">
      
      <img class="logo"  src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601751700/project2-upload/flower_km7avz.png" alt="logo" />
      <a class="navbar-brand mr-auto" href="/" >
        <span>BackToLife</span>
      </a>
      
     
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/#howcontainer">How does it work?</a>
          </li>
          <li class="nav-item">
            <a href="/posts/new">Post an offer</a>
          </li>
          <li class="nav-item">
            <a href="/posts/categories">Categories & Posts</a>
          </li>
          <li class="nav-item">
            <a href="/profile/myprofile">My profile</a>
          </li>
          <li class="nav-item navlogbuttons">
            {{#if userInSession}}
              <form id="logout-form" action="/logout" method="POST">
                <span>Hi <span >{{userInSession.username}}</span>!</span>
                <button>Logout</button>
              </form>
            {{else}}
              <a href="/signup">Signup</a> <span> | </span>
              <a href="/login">Login</a> 
            {{/if}}
          </li>
        </ul>
       
      </div>
    </nav>
   
  </header>
  

  {{{body}}}

<footer>
      {{!-- <p>FOOTER</p> --}}
  <div class="footerlinks">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-2">
          <a href="/">Homepage</a>
        </div>
        <div class="col-md-2">
          <a href="/posts/new">Post an offer</a>
        </div>
        <div class="col-md-3">
          <a href="/posts/categories">Categories & Posts</a>
        </div>
        <div class="col-md-2">
          <a href="/about">About us</a>
        </div>
        <div class="col-md-2">
          <a href="/help">Help</a>
        </div>


      </div>
    </div>
    {{!-- <ul>
      <li><a href="/">Homepage</a></li>
      <li><a href="/posts/new">Post an offer</a></li>
      <li><a href="/posts/categories">Categories & Posts</a></li>
      <li><a href="/about">About us</a></li>
      <li><a href="/help">Help</a></li>
    </ul> --}}
  </div>

  <div class="footersociallinks">
 
      <a href="https://www.facebook.com/" target="blank"><img src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601751700/project2-upload/facebook_yccxmd.png" alt ="facebook logo"></a>
      <a href="https://www.twitter.com/" target="blank"><img src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601751701/project2-upload/twitter_znxavt.png" alt ="twitter logo"></a>
      <a href="https://www.instagram.com/" target="blank"><img src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601751700/project2-upload/instagram_rxqpxe.png" alt ="instagram logo"></a> 

  </div>

  <div class="footersignature">
    <img src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601751700/project2-upload/flower_km7avz.png" alt ="logo" href="/">
    <span>©TeamIronJS, 2020</span>
  </div>

</footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/javascripts/script.js"></script>
  
</body>
</html>