@import url("https://fonts.googleapis.com/css2?family=Podkova:wght@500&display=swap");
* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #63E3FF;
  margin: 0; }
  a:hover {
    opacity: 0.5;
    cursor: pointer; }
  a:visited {
    color: #63E3FF;
    text-decoration: none; }

body {
  margin: 0;
  /* reset */
  font: 18px 'Podkova', serif;
  padding: 0 30px 0 30px; }

/*
  _    _                _           
 | |  | |              | |          
 | |__| | ___  __ _  __| | ___ _ __ 
 |  __  |/ _ \/ _` |/ _` |/ _ \ '__|
 | |  | |  __/ (_| | (_| |  __/ |   
 |_|  |_|\___|\__,_|\__,_|\___|_|                      
*/
header {
  height: 60px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  margin-left: -30px;
  margin-right: -30px; }

#navbar > * {
  vertical-align: middle; }

#navbar span {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-text-stroke: 0.2px #63E3FF;
  color: white;
  font-size: 20px; }

.logo {
  width: 13%; }

nav {
  width: 100%; }

nav a {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  transition: opacity .125s linear;
  -webkit-text-stroke: 0.2px #63E3FF; }
  nav a:hover {
    cursor: pointer;
    -webkit-text-stroke: 0.2px white; }
  nav a:visited {
    color: #63E3FF;
    text-decoration: none; }

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold; }

/*
______          _            
|  ____|        | |           
| |__ ___   ___ | |_ ___ _ __ 
|  __/ _ \ / _ \| __/ _ \ '__|
| | | (_) | (_) | ||  __/ |   
|_|  \___/ \___/ \__\___|_|   
*/
.footerlinks {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-left: -30px;
  margin-right: -30px; }

.footerlinks ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  width: 70%;
  margin: 0 auto; }

footer a,
#view {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  transition: opacity .125s linear; }

.footersociallinks {
  display: flex;
  justify-content: center;
  margin-left: -30px;
  margin-right: -30px;
  padding-top: 20px;
  padding-bottom: 20px; }

.footersociallinks img {
  width: 40px; }

.footersignature {
  text-align: center; }

.footersignature > * {
  vertical-align: middle; }

.footersignature span {
  display: inline-block;
  margin: 0;
  font-size: 15px; }

.footersignature img {
  width: 30px; }

/*
  _    _                                             
 | |  | |                                            
 | |__| | ___  _ __ ___   ___ _ __   __ _  __ _  ___ 
 |  __  |/ _ \| '_ ` _ \ / _ \ '_ \ / _` |/ _` |/ _ \
 | |  | | (_) | | | | | |  __/ |_) | (_| | (_| |  __/
 |_|  |_|\___/|_| |_| |_|\___| .__/ \__,_|\__, |\___|
                             | |           __/ |     
                             |_|          |___/     
*/
#cover {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 150%;
  color: white;
  -webkit-text-stroke: 0.7px #63E3FF;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-left: -30px;
  margin-right: -30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: slide 18s ease-in-out infinite; }

@keyframes slide {
  0% {
    background-image: url("https://res.cloudinary.com/dyybiq3aw/image/upload/v1601904157/project2-upload/green2_y6ew9e.jpg"); }
  50% {
    background-image: url("https://res.cloudinary.com/dyybiq3aw/image/upload/v1601744999/project2-upload/heart_guyllf.jpg"); }
  100% {
    background-image: url("https://res.cloudinary.com/dyybiq3aw/image/upload/v1601904157/project2-upload/green2_y6ew9e.jpg"); } }

#cover h1 {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  transition: opacity .125s linear; }
  #cover h1:hover {
    -webkit-text-stroke: 0.2px white; }
  #cover h1:visited {
    color: #63E3FF;
    text-decoration: none; }

#cover p {
  font-size: 100%;
  text-transform: none;
  margin: 0 auto;
  width: 70%; }

/*
 | |  | |  __ \   / ____|         | | (_)             | |  | |               
 | |__| | |__) | | (___   ___  ___| |_ _  ___  _ __   | |__| | _____      __ 
 |  __  |  ___/   \___ \ / _ \/ __| __| |/ _ \| '_ \  |  __  |/ _ \ \ /\ / / 
 | |  | | |       ____) |  __/ (__| |_| | (_) | | | | | |  | | (_) \ V  V /  
 |_|  |_|_|      |_____/ \___|\___|\__|_|\___/|_| |_| |_|  |_|\___/ \_/\_/   
*/
#howcontainer {
  text-align: center;
  display: block;
  background-color: rgba(196, 244, 255, 0.87);
  margin-left: -30px;
  margin-right: -30px;
  padding: 30px; }

#howcontainer > div {
  display: flex; }

.keyboxescontainer {
  justify-content: center;
  flex-direction: row;
  position: relative;
  padding-left: 30px;
  padding-right: 30px; }

.keybox {
  font-size: 1em;
  text-align: center;
  box-sizing: border-box;
  margin: 10px;
  padding: 20px;
  width: 25%;
  background-color: white;
  border: 1px solid lightgray;
  font-size: 20px; }

#howcontainer img {
  height: 50px; }

.howtoflowerpoints {
  padding: 30px; }

.howtoflowerpoints img {
  height: 5px; }

.howtoflowerpoints p {
  margin: 0 auto;
  width: 100%;
  font-size: 20px;
  background-color: white; }

/*
  _    _ _____     _____      _                        _           
 | |  | |  __ \   / ____|    | |                      (_)          
 | |__| | |__) | | |     __ _| |_ ___  __ _  ___  _ __ _  ___  ___ 
 |  __  |  ___/  | |    / _` | __/ _ \/ _` |/ _ \| '__| |/ _ \/ __|
 | |  | | |      | |___| (_| | ||  __/ (_| | (_) | |  | |  __/\__ \
 |_|  |_|_|       \_____\__,_|\__\___|\__, |\___/|_|  |_|\___||___/
                                       __/ |                       
                                      |___/                                              
*/
.categoriesdisplay {
  text-align: center;
  display: block;
  margin-left: -30px;
  margin-right: -30px;
  padding: 30px;
  overflow: hidden; }

.categoriesdisplay > div {
  display: flex; }

.home .categoriescontainer {
  justify-content: center;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  animation-duration: 10s;
  animation-name: slidein;
  animation-iteration-count: infinite; }

@keyframes slidein {
  from {
    margin-left: 100%; }
  to {
    margin-left: 0%; } }

.categoriesboxes {
  font-size: 1em;
  text-align: center;
  box-sizing: border-box;
  margin: 10px;
  padding: 20px;
  background-color: white;
  border: 1px solid lightgray;
  font-size: 20px; }

.categoriesboxes img {
  height: 130px;
  filter: grayscale(70%); }
  .categoriesboxes img:hover {
    cursor: pointer;
    filter: grayscale(0); }
  .categoriesboxes img:visited {
    text-decoration: none; }

/*

   _____      _                        _             _____                 
  / ____|    | |                      (_)           |  __ \                
 | |     __ _| |_ ___  __ _  ___  _ __ _  ___  ___  | |__) |_ _  __ _  ___ 
 | |    / _` | __/ _ \/ _` |/ _ \| '__| |/ _ \/ __| |  ___/ _` |/ _` |/ _ \
 | |___| (_| | ||  __/ (_| | (_) | |  | |  __/\__ \ | |  | (_| | (_| |  __/
  \_____\__,_|\__\___|\__, |\___/|_|  |_|\___||___/ |_|   \__,_|\__, |\___|
                       __/ |                                     __/ |     
                      |___/                                     |___/      

*/
.categoriescontainer {
  height: 240px; }

.searchsection {
  background-color: rgba(196, 244, 255, 0.87);
  text-align: center;
  display: block;
  background-color: rgba(196, 244, 255, 0.87);
  margin-left: -30px;
  margin-right: -30px;
  padding: 30px; }

.searchsection > div {
  display: flex; }

.searchsection .categoriescontainer {
  justify-content: center; }

form input, select {
  width: 250px;
  padding: 10px;
  font-size: 16px;
  font-family: "Podkova", serif; }

#submitloop {
  position: relative;
  top: 25px;
  width: 60px; }
  #submitloop:hover {
    filter: grayscale(100%); }

/*

   _____      _                              _____                 _ _       
  / ____|    | |                            |  __ \               | | |      
 | |     __ _| |_   _ __   __ _  __ _  ___  | |__) |___  ___ _   _| | |_ ___ 
 | |    / _` | __| | '_ \ / _` |/ _` |/ _ \ |  _  // _ \/ __| | | | | __/ __|
 | |___| (_| | |_  | |_) | (_| | (_| |  __/ | | \ \  __/\__ \ |_| | | |_\__ \
  \_____\__,_|\__| | .__/ \__,_|\__, |\___| |_|  \_\___||___/\__,_|_|\__|___/
                   | |           __/ |                                       
                   |_|          |___/                                        

*/
.results h1 {
  text-align: center; }

.searchsection {
  margin: 0 auto;
  margin-left: -30px;
  margin-right: -30px; }

.postcard ul {
  flex-wrap: wrap;
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 80%; }

.postcard li {
  display: block;
  width: 33.33333%;
  padding-right: 1em;
  margin-bottom: 1em; }

.postcard li:nth-of-type(3n) {
  padding-right: 0; }

.postcard img {
  display: block;
  width: 100%;
  height: 15em;
  object-fit: cover; }

#creationdate {
  margin: auto;
  font-size: 14px;
  color: white; }

.postcardtext {
  padding: 10px 0;
  text-align: center;
  background: black;
  border: 1px solid #14104b; }

.postcardtext h2 {
  margin: 0;
  color: white; }

#endlink a {
  display: block;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 60px; }

/*  __  __         _____            __ _ _      
 |  \/  |       |  __ \          / _(_) |     
 | \  / |_   _  | |__) | __ ___ | |_ _| | ___ 
 | |\/| | | | | |  ___/ '__/ _ \|  _| | |/ _ \
 | |  | | |_| | | |   | | | (_) | | | | |  __/
 |_|  |_|\__, | |_|   |_|  \___/|_| |_|_|\___|
          __/ |                               
         |___/                                
*/
.myprofilepage {
  padding-bottom: 50px; }

.usersinfo img {
  object-fit: cover;
  width: 280px;
  height: 15em; }

.listposts h2 {
  text-align: center;
  padding: 50px; }

.myprofilepage .profilepostcard img {
  display: block;
  width: 100%;
  height: 15em;
  object-fit: cover; }

.postcardtext h1 {
  color: white; }

button {
  font-family: "Podkova", serif;
  font-size: 18px;
  border: none;
  color: white;
  background-color: #63E3FF;
  padding: 5px 10px; }
  button:hover {
    opacity: 0.5;
    cursor: pointer; }

.usersinfo a {
  color: white; }

#editbutton {
  color: black; }

.usersinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 85%;
  margin: auto;
  background-color: rgba(196, 244, 255, 0.87);
  padding-top: 50px;
  padding-bottom: 50px; }

.usersinfo #rightpart {
  width: 60%; }

#dashboardandeditprofile {
  padding-top: 20px; }

#editbutton {
  padding-left: 50px; }

/*
  _____            __ _ _      
 |  __ \          / _(_) |     
 | |__) | __ ___ | |_ _| | ___ 
 |  ___/ '__/ _ \|  _| | |/ _ \
 | |   | | | (_) | | | | |  __/
 |_|   |_|  \___/|_| |_|_|\___|
                               
*/
.profilepage {
  padding-bottom: 50px; }

/*
######                         #######                      
#     #  ####   ####  #####    #        ####  #####  #    # 
#     # #    # #        #      #       #    # #    # ##  ## 
######  #    #  ####    #      #####   #    # #    # # ## # 
#       #    #      #   #      #       #    # #####  #    # 
#       #    # #    #   #      #       #    # #   #  #    # 
#        ####   ####    #      #        ####  #    # #    # */
#post-title {
  display: block;
  text-align: center;
  margin-top: 50px; }

#post-an-offer {
  display: block;
  text-align: center;
  background: rgba(196, 244, 255, 0.87);
  width: 50%;
  margin: auto;
  padding: 50px; }

#post-an-offer label {
  display: block;
  margin-bottom: 10px; }

#location {
  width: 200px;
  padding: 5px;
  margin: 10px; }

#post-an-offer select {
  width: 200px;
  padding: 5px; }

#input-posttitle {
  width: 420px; }

#post-an-offer textarea {
  padding: 10px;
  margin: 0;
  width: 420px; }

#flowers {
  width: 50px;
  margin-left: 20px; }

#post-an-offer button {
  margin-bottom: 30px;
  padding: 5px; }

/*
 #####                                                     
#     # #    #  ####  #    #    #####   ####   ####  ##### 
#       #    # #    # #    #    #    # #    # #        #   
 #####  ###### #    # #    #    #    # #    #  ####    #   
      # #    # #    # # ## #    #####  #    #      #   #   
#     # #    # #    # ##  ##    #      #    # #    #   #   
 #####  #    #  ####  #    #    #       ####   ####    #   */
#show-post {
  display: flex;
  margin: 50px auto;
  justify-content: center; }

#show-post hr {
  width: 250px;
  height: 2px;
  background-color: lightgrey; }

#showpost-previous {
  width: 50px;
  position: absolute;
  margin-left: 0px;
  margin-top: 210px;
  object-fit: cover; }

#showpost-next {
  width: 50px;
  position: absolute;
  margin-left: 450px;
  margin-top: 210px;
  object-fit: cover; }

#show-post article {
  position: relative;
  height: 500px;
  width: 500px; }

#showpost-img1 {
  width: 500px;
  height: 500px;
  visibility: visible;
  position: absolute;
  object-fit: cover; }

#showpost-makeoffer {
  color: black;
  background-color: rgba(196, 244, 255, 0.87);
  padding: 10px 15px;
  float: left; }

#showpost-img2 {
  width: 500px;
  height: 500px;
  visibility: visible;
  position: absolute;
  object-fit: cover; }

#show-post section {
  margin-left: 60px;
  width: 600px;
  display: flex;
  flex-direction: column; }

#showpost-main {
  flex: 1; }

#showpost-button {
  display: block;
  float: right; }

#showpost-profile-section {
  display: flex; }

#showpost-profile-section img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover; }

/*
   #                                                
  # #   #####   ####  #    # #####    #    #  ####  
 #   #  #    # #    # #    #   #      #    # #      
#     # #####  #    # #    #   #      #    #  ####  
####### #    # #    # #    #   #      #    #      # 
#     # #    # #    # #    #   #      #    # #    # 
#     # #####   ####   ####    #       ####   ####   */
#about {
  background-color: rgba(196, 244, 255, 0.87);
  padding: 10px 40px;
  width: 40em;
  display: block;
  margin: 30px auto; }

#about h1 {
  text-align: center; }

#about p {
  text-align: justify; }

#about img {
  width: 200px;
  height: 200px; }

#about section {
  display: flex; }

#about section div {
  margin: auto; }

#about h3 {
  text-align: center; }

/*#     #                      
#     # ###### #      #####  
#     # #      #      #    # 
####### #####  #      #    # 
#     # #      #      #####  
#     # #      #      #      
#     # ###### ###### #      */
#help {
  background-color: rgba(196, 244, 255, 0.87);
  padding: 40px;
  margin-bottom: 30px;
  width: 40em;
  display: block;
  margin: 40px auto; }

#help h1 {
  text-align: center;
  margin-top: 10px; }

#help p {
  font-size: 20px; }

/*#       ####   ####     # #    # 
#      #    # #    #    # ##   # 
#      #    # #         # # #  # 
#      #    # #  ###    # #  # # 
#      #    # #    #    # #   ## 
######  ####   ####     # #    # */
.formulaire {
  width: 32em;
  display: block;
  margin: 30px auto;
  padding: 20px;
  text-align: center;
  background-color: rgba(196, 244, 255, 0.87); }

.formulaire form {
  display: flex;
  flex-direction: column; }

.formulaire p {
  display: flex;
  flex-direction: column;
  align-items: center; }

.formulaire input {
  margin-top: 15px; }

.formulaire button {
  color: black;
  margin-bottom: 10px; }

.formulaire a {
  color: black;
  margin-bottom: 30px; }

/*
###### #####  #####   ####  #####  
#      #    # #    # #    # #    # 
#####  #    # #    # #    # #    # 
#      #####  #####  #    # #####  
#      #   #  #   #  #    # #   #  
###### #    # #    #  ####  #    # */
.error {
  width: 32em;
  display: block;
  margin: 30px auto;
  padding: 20px;
  text-align: center;
  background-color: rgba(196, 244, 255, 0.5); }

.error a {
  font-size: 35px; }

.error h2 {
  line-height: 35px; }

/*
  _____            _     _                         _ 
 |  __ \          | |   | |                       | |
 | |  | | __ _ ___| |__ | |__   ___   __ _ _ __ __| |
 | |  | |/ _` / __| '_ \| '_ \ / _ \ / _` | '__/ _` |
 | |__| | (_| \__ \ | | | |_) | (_) | (_| | | | (_| |
 |_____/ \__,_|___/_| |_|_.__/ \___/ \__,_|_|  \__,_|
                                                                                                   
*/
.dashboard {
  width: 85%;
  margin: auto;
  padding-bottom: 40px; }

#dashboardheader img {
  height: 30px;
  position: absolute; }

#dashboardheader {
  background-color: rgba(196, 244, 255, 0.87);
  height: 200px; }

.dashboard h1 {
  text-align: center;
  margin-top: 0;
  padding-top: 50px; }

.dashboard h2 {
  text-align: center; }

.myrequests {
  display: flex;
  margin-left: -40px; }

.myrequests ol {
  list-style: none;
  counter-reset: li; }

.myrequests li::before {
  content: counter(li);
  color: black;
  display: inline-block;
  width: 1em;
  margin-left: -1em; }

.myrequests li {
  counter-increment: li;
  padding: 20px; }

.requestpart li .requestPending {
  background-color: orange; }

.requestpart {
  flex: 50%;
  text-align: center; }

.requestpart h2 {
  padding: 30px; }

.propositionpart {
  flex: 50%;
  text-align: center; }

.propositionpart h2 {
  padding: 30px; }

.propositionpart form input {
  width: 50px; }

.myrequests li:nth-of-type(odd) {
  background-color: #f0ffff;
  border: 5px solid #2720270a; }

.myrequests li:nth-of-type(even) {
  background-color: #2720270a;
  border: 5px solid rgba(196, 244, 255, 0.87); }

.dashboard span {
  font-style: italic; }

.accepted {
  background-color: yellow;
  display: inline-block; }

.declined {
  background-color: lightgrey;
  display: inline-block; }

.pending {
  background-color: orange;
  display: inline-block; }

/*
  ______    _ _ _      __                     
 |  ____|  | (_) |    / _|                    
 | |__   __| |_| |_  | |_ ___  _ __ _ __ ___  
 |  __| / _` | | __| |  _/ _ \| '__| '_ ` _ \ 
 | |___| (_| | | |_  | || (_) | |  | | | | | |
 |______\__,_|_|\__| |_| \___/|_|  |_| |_| |_|
*/
.myprofileedit, .mypostedit, .myofferedit, .myoffer {
  display: block;
  background-color: rgba(196, 244, 255, 0.87);
  width: 50%;
  margin: auto;
  padding: 50px;
  padding-bottom: 70px;
  text-align: center; }

.myprofileedit label,
.mypostedit label,
.myofferedit label,
.myoffer label {
  display: block; }

.myprofileedit input, textarea,
.mypostedit input, select, textarea,
.myoffer input, textarea {
  margin-top: 10px;
  width: 420px;
  padding: 10px;
  font-size: 16px;
  font-family: "Podkova", serif; }

.label-file {
  cursor: pointer;
  color: black;
  font-weight: bold;
  border: 1px solid grey;
  border-radius: 2px;
  margin: auto;
  background-color: white;
  width: 420px; }

.label-file span:hover {
  color: #25a5c4; }

.input-file {
  display: none; }

.label-file img {
  width: 40px; }

.label-file span {
  position: relative;
  top: -13px;
  color: lightgray; }

/*# sourceMappingURL=style.css.map */