@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@500&display=swap');

* {box-sizing:border-box;}

a {
  text-decoration:none;
  color: #63E3FF;
  margin: 0;
  &:hover {
    opacity: 0.5;
    cursor: pointer;
    // background-color: black;
  }

  &:visited {
    color: #63E3FF;
    text-decoration: none;
  }
}


body {
  margin:0; /* reset */
  font: 18px 'Podkova', serif;
  padding: 0 30px 0 30px;
  // background:#06365f linear-gradient(180deg, rgba(91,126,156,1) 0%, rgba(60,98,133,1) 38%, rgba(47,90,128,1) 38%, rgba(92,126,155,1) 38%, rgba(244,245,247,1) 38%, rgba(253,253,253,1) 38%, white 100%) top left repeat-x;
}


/*
  _    _                _           
 | |  | |              | |          
 | |__| | ___  __ _  __| | ___ _ __ 
 |  __  |/ _ \/ _` |/ _` |/ _ \ '__|
 | |  | |  __/ (_| | (_| |  __/ |   
 |_|  |_|\___|\__,_|\__,_|\___|_|                      
*/

header {
  height: 60px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  margin-left : -30px; // to override body padding
  margin-right : -30px; // to override body padding
  // position: fixed;
}

#navbar > * {
  vertical-align: middle;
}

#navbar span {
  display: inline-block;
  text-transform:uppercase;
  font-weight: bold;
  -webkit-text-stroke: 0.2px #63E3FF;
  color: white;
  font-size: 20px;
}

.logo{
  width: 13%;
}

nav {
  width: 100%;
}

nav a {
  display: inline-block;
  list-style: none; 
  text-decoration: none;
  transition: opacity .125s linear;
  -webkit-text-stroke: 0.2px #63E3FF;
  
  &:hover {
    // opacity: 0.5;
    cursor: pointer;
    -webkit-text-stroke: 0.2px white;
    // background-color: black;
  }

  &:visited {
    color: #63E3FF;
    text-decoration: none;
  }
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform:uppercase;
  font-weight: bold;
}

/*
______          _            
|  ____|        | |           
| |__ ___   ___ | |_ ___ _ __ 
|  __/ _ \ / _ \| __/ _ \ '__|
| | | (_) | (_) | ||  __/ |   
|_|  \___/ \___/ \__\___|_|   
*/

.footerlinks {    
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-left : -30px; // to override body padding
  margin-right : -30px; // to override body padding
}

.footerlinks ul {    
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform:uppercase;
  font-weight: bold;
  width: 70%;
  margin: 0 auto;
}

footer a,
#view {
  display: inline-block;
  list-style: none; 
  text-decoration: none;
  transition: opacity .125s linear;
  // -webkit-text-stroke: 0.2px #63E3FF;
}



.footersociallinks {
  display: flex;
  justify-content: center;
  margin-left : -30px; // to override body padding
  margin-right : -30px; // to override body padding
  padding-top: 20px;
  padding-bottom: 20px;

}

.footersociallinks img {
  width:40px;
}

.footersignature {
  text-align: center;
}

.footersignature > * {
  vertical-align: middle;
}

.footersignature span {
  display: inline-block;
  margin: 0;
  font-size: 15px;
}

.footersignature img {
width: 30px;
}


/*
  _    _                                             
 | |  | |                                            
 | |__| | ___  _ __ ___   ___ _ __   __ _  __ _  ___ 
 |  __  |/ _ \| '_ ` _ \ / _ \ '_ \ / _` |/ _` |/ _ \
 | |  | | (_) | | | | | |  __/ |_) | (_| | (_| |  __/
 |_|  |_|\___/|_| |_| |_|\___| .__/ \__,_|\__, |\___|
                             | |           __/ |     
                             |_|          |___/     
*/

#cover {
  margin-top:0;
  margin-bottom:0;
  font-weight:normal;
  font-size:150%;
  // background:url("https://res.cloudinary.com/dyybiq3aw/image/upload/v1601745001/project2-upload/green_sqmfrw.jpg") center no-repeat; background-size:cover;
  color:white;
  -webkit-text-stroke: 0.7px #63E3FF;
  padding-top:200px;
  padding-bottom:200px;
  padding-left: 50px;
  padding-right: 50px;
  text-align:center;
  text-transform:uppercase;
  margin-left : -30px; // to override body padding
  margin-right : -30px; // to override body padding

  // filter: grayscale(70%);
  // &:hover {
  //   // opacity: 0.5;
  //   cursor: pointer;
  //   // background-color: black;
  //   filter: grayscale(0);
  // }

  // &:visited {
  //   text-decoration: none;
  // }
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: slide 18s ease-in-out infinite;
  
}

@keyframes slide {
 0% {
  background-image:url("https://res.cloudinary.com/dyybiq3aw/image/upload/v1601904157/project2-upload/green2_y6ew9e.jpg");
  }
 50% {
  background-image:url("https://res.cloudinary.com/dyybiq3aw/image/upload/v1601744999/project2-upload/heart_guyllf.jpg");
  }
  100% {
  background-image:url("https://res.cloudinary.com/dyybiq3aw/image/upload/v1601904157/project2-upload/green2_y6ew9e.jpg");
  }
}


// #cover h1 {
//   background-color: rgba(255, 255, 255, 0.5);
// }

#cover h1 {
  display: inline-block;
  list-style: none; 
  text-decoration: none;
  transition: opacity .125s linear;
  
  &:hover {
    // opacity: 0.5;
    // cursor: pointer;
    -webkit-text-stroke: 0.2px white;
  }

  &:visited {
    color: #63E3FF;
    text-decoration: none;
  }


}

#cover p {
  font-size:100%;
  text-transform:none;
  margin: 0 auto;
  width: 70%;
  
  // background-color: rgba(255, 255, 255, 0.5);


}

/*
 | |  | |  __ \   / ____|         | | (_)             | |  | |               
 | |__| | |__) | | (___   ___  ___| |_ _  ___  _ __   | |__| | _____      __ 
 |  __  |  ___/   \___ \ / _ \/ __| __| |/ _ \| '_ \  |  __  |/ _ \ \ /\ / / 
 | |  | | |       ____) |  __/ (__| |_| | (_) | | | | | |  | | (_) \ V  V /  
 |_|  |_|_|      |_____/ \___|\___|\__|_|\___/|_| |_| |_|  |_|\___/ \_/\_/   
*/

#howcontainer {
  text-align: center;
  display: block; 
  background-color: rgba(196, 244, 255, 0.87);
  margin-left : -30px; // to override body padding
  margin-right : -30px; // to override body padding
  // height: 500px;
  padding: 30px;
}

#howcontainer > div {
  display: flex;
}

.keyboxescontainer{
  justify-content: center;
  flex-direction: row;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  
}

.keybox {
  font-size: 1em;
  text-align: center;
  box-sizing: border-box;
  margin: 10px;
  padding: 20px;
  width: 25%;
  background-color:white ;
  border: 1px solid lightgray;;
  font-size: 20px;
}

#howcontainer img {
  height:50px;
}

.howtoflowerpoints {
  padding: 30px;
}

.howtoflowerpoints img {
  height: 5px;
  // padding: 20px; 
}

.howtoflowerpoints p {
  margin: 0 auto;
  width: 100%;
  font-size: 20px;
  background-color: white;

}


/*
  _    _ _____     _____      _                        _           
 | |  | |  __ \   / ____|    | |                      (_)          
 | |__| | |__) | | |     __ _| |_ ___  __ _  ___  _ __ _  ___  ___ 
 |  __  |  ___/  | |    / _` | __/ _ \/ _` |/ _ \| '__| |/ _ \/ __|
 | |  | | |      | |___| (_| | ||  __/ (_| | (_) | |  | |  __/\__ \
 |_|  |_|_|       \_____\__,_|\__\___|\__, |\___/|_|  |_|\___||___/
                                       __/ |                       
                                      |___/                                              
*/

.categoriesdisplay {
  text-align: center;
  display: block; 
  margin-left : -30px; // to override body padding
  margin-right : -30px; // to override body padding
  // height: 500px;
  padding: 30px;
  overflow: hidden;
}

.categoriesdisplay > div {
  display: flex;
}

.home .categoriescontainer {
  justify-content: center;
  // flex-direction: row;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  
  animation-duration: 10s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  
}

@keyframes slidein {
  from {
    margin-left: 100%;
    // width: 300%; 
  }

  to {
    margin-left: 0%;
    // width: 300%;
  }

}


.categoriesboxes {
  font-size: 1em;
  text-align: center;
  box-sizing: border-box;
  margin: 10px;
  padding: 20px;
  // width: 25%;
  background-color:white ;
  border: 1px solid lightgray;;
  font-size: 20px;
}

.categoriesboxes img {
  height:130px;
  filter: grayscale(70%);

  &:hover {
    // opacity: 0.5;
    cursor: pointer;
    // background-color: black;
    filter: grayscale(0);
  }

  &:visited {
    text-decoration: none;
  }
}

/*

   _____      _                        _             _____                 
  / ____|    | |                      (_)           |  __ \                
 | |     __ _| |_ ___  __ _  ___  _ __ _  ___  ___  | |__) |_ _  __ _  ___ 
 | |    / _` | __/ _ \/ _` |/ _ \| '__| |/ _ \/ __| |  ___/ _` |/ _` |/ _ \
 | |___| (_| | ||  __/ (_| | (_) | |  | |  __/\__ \ | |  | (_| | (_| |  __/
  \_____\__,_|\__\___|\__, |\___/|_|  |_|\___||___/ |_|   \__,_|\__, |\___|
                       __/ |                                     __/ |     
                      |___/                                     |___/      

*/

.categoriescontainer {
  height: 240px;
}


.searchsection {
  background-color: rgba(196, 244, 255, 0.87);
  text-align: center;
  display: block; 
  background-color: rgba(196, 244, 255, 0.87);
  margin-left : -30px; // to override body padding
  margin-right : -30px; // to override body padding
  // height: 500px;
  padding: 30px;
}

.searchsection > div {
  display: flex;
}
// .searchsection .categoriesdisplay{
//   // position: relative;
//   margin: 0 auto;

// }

.searchsection .categoriescontainer{
  // position: relative;
  justify-content: center;

}

form input, select {
  width: 250px; 
  padding: 10px; 
  font-size: 16px; 
  // box-shadow:0 0 0.3em rgba(60,60,60,0.4);
  font-family: "Podkova", serif;

}

#submitloop {
  position:relative;
  top: 25px;
  width: 60px;
  &:hover {
      filter: grayscale(100%);
    }
}


/*

   _____      _                              _____                 _ _       
  / ____|    | |                            |  __ \               | | |      
 | |     __ _| |_   _ __   __ _  __ _  ___  | |__) |___  ___ _   _| | |_ ___ 
 | |    / _` | __| | '_ \ / _` |/ _` |/ _ \ |  _  // _ \/ __| | | | | __/ __|
 | |___| (_| | |_  | |_) | (_| | (_| |  __/ | | \ \  __/\__ \ |_| | | |_\__ \
  \_____\__,_|\__| | .__/ \__,_|\__, |\___| |_|  \_\___||___/\__,_|_|\__|___/
                   | |           __/ |                                       
                   |_|          |___/                                        

*/


.results h1 {
  text-align: center;
}

.searchsection {
  margin: 0 auto;
  margin-left: -30px;
  margin-right: -30px;
}

.postcard ul {
  flex-wrap: wrap;
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 80%
  
}

.postcard li {
  display: block; 
  // border: 1px solid blue;
  width: 33.33333%;
  padding-right:1em;
  margin-bottom:1em;
  

}

.postcard li:nth-of-type(3n) {
  padding-right:0;
}


.postcard img {
  display: block;
  width: 100%;
  height: 15em;
  object-fit: cover;
}


#creationdate {
  margin: auto;
  font-size: 14px;
  color: white;
}

.postcardtext {
  padding: 10px 0;
  text-align: center;
  background: black;
  border:1px solid rgb(20, 16, 75);
}

.postcardtext h2{
  margin: 0;
  color: white;
}

#endlink a {
  display:block;
  text-align:center;
  padding-top: 30px;
  padding-bottom: 60px
}

/*  __  __         _____            __ _ _      
 |  \/  |       |  __ \          / _(_) |     
 | \  / |_   _  | |__) | __ ___ | |_ _| | ___ 
 | |\/| | | | | |  ___/ '__/ _ \|  _| | |/ _ \
 | |  | | |_| | | |   | | | (_) | | | | |  __/
 |_|  |_|\__, | |_|   |_|  \___/|_| |_|_|\___|
          __/ |                               
         |___/                                
*/

.myprofilepage {
 padding-bottom: 50px;
}

.listposts h2 {
  text-align: center;
}


.myprofilepage .profilepostcard img {
  display: block;
  width: 100%;
  height: 15em;
  object-fit: cover;
}

.postcardtext h1{
 color: white;
}

button {
  &:hover {
    opacity: 0.5;
    cursor: pointer;
    // background-color: black;
  }
  font-family: "Podkova", serif;
  font-size: 18px;
  border: none;
  color: white;
  background-color:#63E3FF;
  padding: 5px 10px;
}


.usersinfo a {
  color: white;
}

#editbutton {
  color: black;
}

.usersinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 85%;
  margin: auto;
  background-color: rgba(196, 244, 255, 0.87);
  padding-top: 50px;
  padding-bottom: 50px;
}

.usersinfo #rightpart {
  width: 60%;
}

#dashboardandeditprofile {
  padding-top: 20px
}

#editbutton{
padding-left: 50px;
}

/*
  _____            __ _ _      
 |  __ \          / _(_) |     
 | |__) | __ ___ | |_ _| | ___ 
 |  ___/ '__/ _ \|  _| | |/ _ \
 | |   | | | (_) | | | | |  __/
 |_|   |_|  \___/|_| |_|_|\___|
                               
*/




//Show post
#show-post {
  display: flex;
}
