
<div id="post-an-offer">
<h1 id="post-title">I would like to post</h1>
<form action="/posts/new" method="POST" enctype="multipart/form-data">
  {{!-- <p>
    <label>
      Type:
      <select name="type">
        <option value="good">A good</option>
        <option value="service">A service</option>
      </select>
    </label>
  </p> --}}
  <p>
      <select name="categories">
         <option>SELECT A CATEGORY</option>
        <option value="Dressing">Dressing</option>
        <option value="Books/CDs">Books/CDs</option>
        <option value="Services">Services</option>
        <option value="Beauty">Beauty</option>
        <option value="IT">IT</option>
      </select>
      <input type="text" name="city" placeholder="YOUR CITY" id="location">
    
  </p>
  
  <p>
    <label>
      TITLE
    </label>
    <input type="text" name="title" id="input-posttitle">
   
  </p>

  <p>
    <label>
      DESCRIPTION
    </label>
    <textarea name="description" rows='5' cols="31"></textarea>
    
  </p>

  {{!-- <p class='custom-file-input'>
    PHOTOS
  </p>
  <p>
    <label class="label-file">
      
      <img src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601581026/project2-upload/photovide_utfkuw.png" alt ="nophoto">
      <span> Click here to upload up to 2 photos</span>  
      <input class="input-file" type="file" multiple name="pic">
    </label>
     
  </p> --}}
  

  <p class='custom-file-input'>
      PHOTOS (2 maximum) 
    </p>
    <div class="photoupload">
      <label for="file">
        <img src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601581026/project2-upload/photovide_utfkuw.png" alt ="nophoto">
        <span> Click here to upload photos</span>  
        </label>
        <input id="file" type="file" multiple name="pic" onchange="javascript:updateList()"/>
      <div id="fileList">
        <p>Selected files:</p>
      </div>
      {{!-- <input type="file" multiple name="pic2">   --}}
    </div>




  <p>
    <label>
      NUMBER OF FLOWERS ESTIMATED
    <input type="text" name="pointsEstimate" id="flowers" >
    </label>
  </p>

  
    
   
  

  <p>
    <button>Create new post</button>
  </p>
</form>
</div>