PUBLISH A POST
<form action="/posts/new" method="POST" enctype="multipart/form-data">
  {{!-- <p>
    <label>
      Type:
      <select name="type">
        <option value="good">A good</option>
        <option value="service">A service</option>
      </select>
    </label>
  </p> --}}
  <p>
    <label>
      Categories:
      <select name="categories">
         <option>--Please choose an option--</option>
        <option value="Dressing">Dressing</option>
        <option value="Books/CDs">Books/CDs</option>
        <option value="Services">Services</option>
        <option value="Beauty">Beauty</option>
        <option value="IT">IT</option>
      </select>
    </label>
  </p>
  
  <p>
    <label>
      Title:
      <input type="text" name="title">
    </label>
  </p>

  <p>
    <label>
      Description:
      <textarea name="description"></textarea>
    </label>
  </p>
  <p>
    <label>
      City:
      <input type="text" name="city">
    </label>
  </p>

  <p>
    <label>
      Points Estimated:
      <input type="text" name="pointsEstimate">
    </label>
  </p>

  <p>
    <label>
      Picture:
      <input type="file" multiple name="pic1">
      <input type="file" multiple name="pic2">
      <input type="file" multiple name="pic3">
    </label>
  </p>
  

  <p>
    <button>Create new post</button>
  </p>
</form>